@{
    ViewBag.Title = "Home Page";
}

<link href="~/Access/Style/HomePage.css" rel="stylesheet" />

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title" class="text-center fade_down">Student Management System</h1>
        <p class="lead" style="font-weight: bold;">About our project: </p>
        <p id="typing-animation" class="lead">

        </p>
        <p><a href="#" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>
    <div>
        <div class="container fade_down" style="margin-bottom: 30px">
            <H2 style="padding-bottom: 15px">OUR TEAM MEMBERS</H2>
            <div class="gradient-bar"></div>
        </div>



        <div class="row">
            <div class="d-flex flex-column fade_up">
                <div class="row justify-content-center">
                    <div class="col-md-4 mb-3 d-flex hover-scale">
                        <section class="p-3 d-flex flex-column justify-content-between" style="background: linear-gradient(to right, #ffb6c1, #ffc0cb, #ffd1dc, #ffe4e1);; border-radius: 15px; height: 100%;">
                            <div class="row">
                                <div class="col-8">
                                    <h3 class="text-white" id="gettingStartedTitle">Tran Van Tuong</h3>
                                    <p class="text-white">Student ID: 21070283</p>
                                    <p style="margin-top: -15px;" class="text-white">Class: ICE2021B</p>
                                    <p style="margin-top: -15px;" class="text-white">Contribution:</p>
                                    <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
                                </div>
                                <div class="col-4 d-flex align-items-start justify-content-end">
                                    <img src="https://scontent.fhan15-1.fna.fbcdn.net/v/t39.30808-1/404603517_3592841190971363_5534855601958694442_n.jpg?stp=dst-jpg_p200x200&_nc_cat=102&ccb=1-7&_nc_sid=5f2048&_nc_ohc=AeFXEGK-MowQ7kNvgHKtAVD&_nc_ht=scontent.fhan15-1.fna&oh=00_AYBTe0ZnuuhPkobfof2gEf3Gk4f24F3LBf5V2N1cEWHWlg&oe=665BF01D" class="img-fluid" style="transform: scale(1); border-radius: 15px;">
                                </div>
                            </div>
                        </section>
                    </div>

                    <div class="col-md-4 mb-3 d-flex hover-scale zoom_in">
                        <section class="p-3 d-flex flex-column justify-content-between" style="background: linear-gradient(to right, #4CAF50, #00FF7F); border-radius: 15px; height: 100%;">
                            <div class="row">
                                <div class="col-8">
                                    <h3 class="text-white" id="gettingStartedTitle">Nguyen Trong Duc Thanh</h3>
                                    <p class="text-white">Student ID: 21070395</p>
                                    <p style="margin-top: -15px;" class="text-white">Class: ICE2021A</p>
                                    <p style="margin-top: -15px;" class="text-white">Contribution:</p>
                                    <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
                                </div>
                                <div class="col-4 d-flex align-items-start justify-content-end">
                                    <img src="https://scontent.fhan18-1.fna.fbcdn.net/v/t39.30808-6/411676262_2095540817473480_4900916362640323015_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFYRkRkCkel1L1CWLnwTxeAoxuBvLgyhj2jG4G8uDKGPTwpsCZelqLDFiOTc9cxmycKM2F4zQ3vPWEhDaunrN56&_nc_ohc=kvEPSdRBtyEQ7kNvgGqFYod&_nc_ht=scontent.fhan18-1.fna&oh=00_AYDdvHXrr8t4ShjQ8aRVE_5EL2SuCwFN1YLzLpV3A9Bemg&oe=665B8044" class="img-fluid" style="transform: scale(1); border-radius: 15px;">
                                </div>
                            </div>
                        </section>
                    </div>

                    <div class="col-md-4 mb-3 d-flex hover-scale fade_left">
                        <section class="p-3 d-flex flex-column justify-content-between" style="background: linear-gradient(to right, #E49BFF, #F7C8FF); border-radius: 15px; height: 100%; ">
                            <div class="row">
                                <div class="col-8">
                                    <h3 class="text-white" id="gettingStartedTitle">Vu Thu Hang</h3>
                                    <p class="text-white">Student ID: 21070544</p>
                                    <p style="margin-top: -15px;" class="text-white">Class: ICE2021B</p>
                                    <p style="margin-top: -15px;" class="text-white">Contribution:</p>
                                    <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
                                </div>
                                <div class="col-4 d-flex align-items-start justify-content-end">
                                    <img src="https://scontent.fhan18-1.fna.fbcdn.net/v/t39.30808-6/275248560_967503730824174_4359062143781477213_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeGbJ5KvKb89ILqBWQWEijUD-rupWvuWyXf6u6la-5bJd8-TjGJAO6MCyjOu76f8vAPlPyEtanKhecK2BnrzUBj-&_nc_ohc=fBjt2itgOMMQ7kNvgGWbfNk&_nc_ht=scontent.fhan18-1.fna&oh=00_AYC_EzeO4ykx7llK84-BQIYtTR6E8ZOGTTAavkpJJxGR7A&oe=665B6F97" class="img-fluid" style="transform: scale(1); border-radius: 15px;">
                                </div>
                            </div>
                        </section>
                    </div>

                    <div class="col-md-4 mb-3 d-flex hover-scale fade_right">
                        <section class="p-3 d-flex flex-column justify-content-between" style="background: linear-gradient(to right, #D8BFD8, #9370DB); border-radius: 15px; height: 100%; ">
                            <div class="row">
                                <div class="col-8">
                                    <h3 class="text-white" id="gettingStartedTitle">Than Ngoc Tuan Anh</h3>
                                    <p class="text-white">Student ID: 21070240</p>
                                    <p style="margin-top: -15px;" class="text-white">Class: ICE2021A</p>
                                    <p style="margin-top: -15px;" class="text-white">Contribution:</p>
                                    <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
                                </div>
                                <div class="col-4 d-flex align-items-start justify-content-end">
                                    <img src="https://scontent.fhan18-1.fna.fbcdn.net/v/t39.30808-1/426556882_4011198682440392_4896659258498852573_n.jpg?stp=dst-jpg_s200x200&_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFW_Vp_Y8YZYf_ilT55eVBbAH69BtSt7nYAfr0G1K3udjdIfBTIvcNNzm9v9hPB7ITpbEv8ci689hY8ICLWLs8W&_nc_ohc=nNGJ6TjvR98Q7kNvgEkhYUX&_nc_ht=scontent.fhan18-1.fna&oh=00_AYB8S7u7Zx2RYlqknjfjaXIAtJh-dO_Q67ckt8RywBHnxQ&oe=665B9D5F" class="img-fluid" style="transform: scale(1); border-radius: 15px;">
                                </div>
                            </div>
                        </section>
                    </div>


                    <div class="col-md-4 mb-3 d-flex hover-scale">
                        <section class="p-3 d-flex flex-column justify-content-between" style="background: linear-gradient(to right, #ADD8E6, #B0E0E6); border-radius: 15px; height: 100%; ">
                            <div class="row">
                                <div class="col-8">
                                    <h3 class="text-white" id="gettingStartedTitle">Nguyen Thanh Trung</h3>
                                    <p class="text-white">Student ID: 21070126</p>
                                    <p style="margin-top: -15px;" class="text-white">Class: ICE2021A</p>
                                    <p style="margin-top: -15px;" class="text-white">Contribution:</p>
                                    <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
                                </div>
                                <div class="col-4 d-flex align-items-start justify-content-end">
                                    <img src="https://scontent.fhan18-1.fna.fbcdn.net/v/t39.30808-6/344543465_601184928613670_5382312266908978768_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeEH4eLl7oGowus9ZQc2WIVoXvP9tbdCT19e8_21t0JPX7-ej2KFt50H1bUriQqutfFq1pp4cRdOgdvwPT0unQHe&_nc_ohc=2PgdS9ns1hMQ7kNvgGDAkRK&_nc_ht=scontent.fhan18-1.fna&oh=00_AYDsqWZwNZupfiejAAyQKJGIYTlmwzVuOUheO627J0tRBA&oe=665B92C0" class="img-fluid" style="transform: scale(1); border-radius: 15px;">
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="~/Access/Script/HomePage.js"></script>